<!DOCTYPE html>
<div class="btn-group btn-group=lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Hourly</button>
    <button type="button" class="btn btn-secondary">Daily</button>
    <button type="button" class="btn btn-secondary">Monthly</button>
</div>
<div class="container-sm text-center">
    <span class="dim">HOURLY ENERGY</span><canvas id="barEnergy" class="g"><p>Does not support</p></canvas>
    <canvas id="pieEnergy" class="g"><p>Does not support</p></canvas>
</div>
