<!DOCTYPE html>
<html>
<div class="container-sm text-white">
    
    <div class="container-fluid mt-3 mb-2 text-center">
        <span class="dim">Wattmeter setup</span>
    </div>
    <div class="container text-center" id="settingTable">    
        <div class="row">
            <div class="col">
                <h6 class="unit">Info</h6>
            </div>
            <div class="col">
                <h6 class="unit">State</h6>
            </div>
        </div>       
    </div>
    <div class="container-fluid mt-3 text-center">
        <div id="evseSetting">
        </div>
    </div>
    <div class="container-fluid mt-3 text-center">
        <span class="dim">Wi-Fi Client Setup</span>
    </div>
    <div class="container-fluid  text-white ">  
        <table class="table table-borderless text-center  text-white">
            <tbody>
                <tr class="ssidTable">
                    <td id="ssid" colspan="2"><td>
                </tr>        
                <tr> 
                    <td class="unit" >Pass</td> 
                    <td><input id="passwordField"  name="password" type="password"  style="width:80%;"/></td>
                </tr>
            </tbody>
        </table>

        <div class="container text-center  text-white">
            <div class="row  mt-3" >
                <div class="col">
                    <p id="wifiStatus">  </p>
                </div>
            </div>
            <div class="btn-group">
                <button  id="setSSID" type="button" class="btn btn-primary">submit</button>
                <button  id="refreshSSID" type="button" class="btn btn-primary ">refresh</button>
            </div>
        </div>
       <br>
    </div>
    
    <footer>
    </footer>
</div>
</html>