.graphTable {
    height: 50%;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.dim {
    color: #ffa500;
    font-size: 26px;
    font-weight: bold;
}
.unit {
    color: #808080;
    font-size: 28px;
    font-weight: bold;
}
.value {
    color: white;
    font-weight: bold;
}
.charging {
    height: 160px;
    width: 280px;
    border: 6px solid black;
    border-radius: 8px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.top {
    height: 55px;
    width: 15px;
    background-color: black;
    position: relative;
    left: 280px;
    top: 45px;
    border-radius: 0 5px 5px 0;
}
@keyframes charge-1 {
    25%,
    100% {
        opacity: 1;
    }
}
@keyframes charge-2 {
    0%,
    25% {
        opacity: 0;
    }
    50%,
    100% {
        opacity: 1;
    }
}
@keyframes charge-3 {
    0%,
    50% {
        opacity: 0;
    }
    75%,
    100% {
        opacity: 1;
    }
}
@keyframes charge-4 {
    0%,
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.energyTable {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
    font-size: 34px;
    border-collapse: separate;
}
.g {
    height: 430px;
    max-height: 430px;
}
.gaugeElem {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.gaugeContainer {
    text-align: center;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}
.bg {
    background-color: #111;
}
